<div class='trip-info'>
  <% if @trip.image.present? %>
    <%= image_tag(url_for(@trip.image)) %>
  <% else %>
    <%= image_tag("IMG_2477.jpg", class: 'default-image') %>
  <% end %>
  <h2><%= @trip.place_name %></h2>
  <%= @trip.date %><br>
  <%= @trip.details %><br>
  <%= link_to "Back", trips_path %>
  <%= button_to "Edit Trip", edit_trip_path, method: :get %>
  <%= button_to "Delete Trip", trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>