<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |m|%>
    <p><%= m %></p><br>
  <% end %>
<% end %>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "log in" %>
<% end %>

Or <%= link_to 'Sign Up', '/users/new' %>

<%= button_to('Log in with GitHub!', '/auth/github', method: :post) %>