<!DOCTYPE html>
<html>
  <head>
    <title>TripJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar">
      <h1>Trip Journal</h1>
        <div class="menu">
          <button class="dropdown-button">MENU</button>
          <div class="dropdown-content">
            <li class="nav-item <%= active_class(new_trip_path) %>">
              <%= link_to "New Trip", new_trip_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(trips_path) %>">
              <%= link_to "My Trips", trips_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(places_path) %>">
              <%= link_to "Places I've Visited", places_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(root_path) %>">
              <%= link_to "Login/Signup", root_path, class: 'nav-link' %>
            </li>
          </div>
        </div>
        <ul>

        </ul>
    </nav>

    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>
